<div class="row management with-font text-center" id="new">
	<%= @tutorial.title %> - صفحه‌ی شماره‌ی <%= persian_number(@tutorial.pages.index(@page)+1) %>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 with-margin">
		
		<%= raw @page.content %>
	</div>
</div>

<div class="row with-margin">
	<div class="col-md-6 col-md-offset-3 links">
		<%= link_to 'مدیرت صفحات', admin_subject_path(@tutorial) %> |
		<%= link_to 'مدیریت آموزش‌ها', admin_subjects_path %>
	</div>
</div>