<div class="management with-font text-center" id="new">
	مدیریت صفحات موضوع:  <%= @tutorial.title %>
</div>

<% if @pages.any? %>
<div class="with-margin row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th> نام صفحه </th>
					<th> ساخته شده در </th>
					<th> </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<% @pages.each_with_index do |page,index| %>
				<tr>
					<td> <%= page.title %> </td>
					<td> <%= persian_date(page.created_at) %> </td>
					<td> <%= link_to 'نمایش', admin_subject_page_path(@tutorial,page), class: "btn btn-default" %> </td>
					<td> <%= link_to 'ویرایش',edit_admin_subject_page_path(@tutorial,page), class: "btn btn-info" %> </td>
					<td> <%= link_to 'حذف', admin_subject_page_path(@tutorial,page), class: "btn btn-danger", method: :delete %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>

<div class="row with-font text-center with-margin">
	صفحه‌ی جدید می‌خواهید؟ <%= link_to 'بسازید', new_admin_subject_page_path(@tutorial), class: "btn btn-success" %>
</div>

<div class="row with-margin">
	<div class="col-md-6 col-md-offset-3 links">
		<%= link_to 'مدیریت آموزش‌ها', admin_subjects_path %>
	</div>
</div>